*{
    box-sizing: border-box;
}
body{
	margin: 0px;
}

.about-img{
    width: 95vw;
	height: 60vh;
	object-fit: cover;
}
@media screen and (max-width: 600px) {
	.about-img{
		height: 20vh;
		width: 90vw;
	}
}
.about-main-heading{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 60px;
	margin-bottom: 33px;
	font-weight: bold;	
	color: #000;
	font-size: 32px;
}
@media screen and (max-width: 600px) {
	.about-main-heading{
		font-size: 25px;
		max-width: 334px;
		width: 334px;
		text-align: center;
	}
}
.about-heading{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 10px;
	margin-bottom: 33px;
	font-weight: bold;	
	color: #000;
	font-size: 32px;
}
.about-1-heading{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 55px;
	margin-bottom: 33px;
	font-weight: bold;	
	color: #000;
	font-size: 32px;
	margin-left: 112px;
}
@media screen and (max-width: 600px) {
	.about-1-heading{
		font-size: 17px;
		text-align: center;
		margin-left: 0px;
	}
}
.paragraph{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #000;
	font-size: 15px;
	margin-left: 112px;
	margin-bottom: 15px;
	
}
@media screen and (max-width: 600px) {
	.paragraph{
		font-size: 14px;
		margin-left: 5px;
		margin-bottom: 8px;
		max-width: 350px;
		
		padding: 5px;
	}
}
.line{
	margin-left: 112px;
	margin-right: 112px;
}
@media screen and (max-width: 600px) {
	.line{
		margin-left: 5px;
		margin-right: 5px;
	}
}
.span-element{
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 600px) {
    .apply{
        margin-right: 80px;
    }
}
@media screen and (max-width: 600px) {
    .colsabrate{
        margin-left: 92px;
    }
}
@media screen and (max-width: 600px) {
	.approve{
		margin-left: 27px;
	}
}